$grey: rgba(211,211,211, 0.3);
$lightblue: #add8e6;

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.home {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 1em;

  &__account-info {
    align-self: stretch;
    background-color: $lightblue;
    border-radius: 0.5em;
    flex-direction: column;
    padding: 1em;
    text-align: center;

    > h3, div {
      margin: 0.5em 0;
    }
  }

  &__account-balance {
    font-size: 1.2em;
  }
}